<%- include('partials/header') %>
    <div class="chat_container" id="chat_container">
    <div class="send_message" id="send_message">
        <form id="message_form" class="message_form">
            <input type="text" autofocus="off" autocomplete="off" name="message" id="chat" class="chatInput">
            <button type="submit" class="message_button" id="message_button">Send</button>
        </form>
    </div>

    </div>

    <%- include('partials/footer') %>